.main{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.every{
    text-align: center;
    border: 1px solid black;
}


.activeLink{
    font-weight: bold;
}


.pages{
    margin-top: 20px;
    border: 1px dashed black;
    text-align: center;
}

.pages span{
    border: 1px solid white;
    padding: 0 10px;
    cursor: pointer;
}

.every:hover{
    background: lightgray;
    transition: 0.1s all ease;
}

.img{
    width: 30px;
}