.main{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.every{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}


.activeLink{
    padding: 5px;
    font-weight: bold;
}