.actors{
    height: 100%;

    color: black;
    height: 100%;
}
.actors a{
    color: white;
    text-decoration: none;
}
.pages{
    width: 500px;
    height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.pages div{
    border: 1px solid rgb(122, 95, 95);
}

.grid_actors div{
    padding-top: 45px;
    border: 1px solid rgb(19, 17, 17);
    text-align: center;
    height: 200px;
}
.grid_actors{
    grid-gap: 2px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.wrapper_preload{
    position: relative;
    height: 100%;
}

.wrapper_preload .image{
    position: absolute;
    top: 45%;
    left: 45%;
}

.activeLink{
    background: black;
    color:white
}