.greetings{
    background: #0E0E0E;
    color:white;
    text-align: center;
    grid-column:3/5;
    padding-top: 65px;
    font-size: 1.3em;
    height: 350px;
    font-weight: 300;
    box-sizing: border-box;
}

.greetings h1{
    font-size: 3em;
    margin: 0;
    padding: 0;
}