
.content {
    overflow: hidden;
    background:#0E0E0E;
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 1fr 1fr 1fr 70px;
    grid-gap:15px;
}

.listSerials{
    grid-column-gap: 10px;
    background: #0E0E0E;
    grid-column: 2/8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 365px;
    grid-auto-rows: 365px;
    grid-row-gap: 25px;
    grid-column-gap: 50px;
}
.add{
    color:white;
    border: 1px solid white;
    grid-column: 2/4;
    height: 50px;
}