.filmPost:hover{
    transition: 0.1s ease;
    box-shadow: 1px 1px 25px rgb(5, 5, 5);
}


.filmPost{
    box-shadow: 1px 1px 15px rgb(5, 5, 5);;

    background:#e7e7e9;
}

.filmPost img{
    margin-top: 10px;
    border: 1px solid #424242;
}