header{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background: #2b2c2b;
}
header a{
    color:white;
    text-decoration: none;
}

.logo{
    grid-column: 1;
    width: 170px;
    text-align: center;
}

.nav{
    height: 50px;
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nav div{
    padding-top: 15px;
    width: 120px;
    text-align: center;
}

.log_in{
    background: skyblue;
}

.log_out{
    cursor: pointer;
    color: rgb(212, 194, 24);
}

