header{
    background: #2D2D2D;
    color: white;
    display: grid;
    grid-template-columns: 1fr 8fr repeat(4, 1fr);
    grid-template-rows: 50px;
}

header div{
    text-align: center;
    padding-top: 15px;
}
header a{
    color: white;
    text-decoration: none;
}
.comments{
    grid-column: 3;
}

.selected{
    color:pink;
    text-shadow: 1px 1px 5px pink;
}

.logo{
    text-align: center;
}