header{
    background: #0E0E0E;
    color:white;
    display: grid;
    grid-template-columns: 1fr 8fr repeat(3, 1fr);
    grid-template-rows: 40px;
    border-bottom: 1px solid rgb(168, 163, 163);
}

header div{
    text-align: center;
    padding-top: 12px;
}
header a{
    color: white;
    text-decoration: none;
}
.comments{
    grid-column: 3;
}

.selected{
    color: #446611;
    text-shadow: 1px 1px 5px #446611;
}

.logo{
    text-align: center;
}

.log_in{
    border: 1px solid white;
}