
.section {
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 200px 200px 200px 70px;
    grid-column-gap: 6px;
    padding: 2px;
    background: #F8F8F8;
}


.section div{
    border-radius: 15px;
}

