
.section {
    width:1280px;
    overflow: hidden;
    background:#191A1D;
    color: #F5F5F5;
}

.postFilm{
    width: 1000px;
    margin: 0 auto;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap:15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}


.film_selection{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    overflow: hidden;
    border:1px solid #424242;
    border-radius: 4px;
}
.film_selection img {
    width: 500px;
    height: 100%;
}
