
.comments{
    border: 1px solid black;
    width: 800px;
    margin: 20px  auto;
    display: grid;
    grid-template-columns: 1fr 5fr 7fr;
}

.messages{
    grid-column:2/4;
}

.users{
    grid-column:1;
}

.users div{
    padding: 20px;
}


.comments a{
    text-decoration: none;
    color:black;
}
.comments a:hover{
    text-decoration:underline;
}
a.selected{
    color:pink;
    text-shadow: 1px 1px 10px pink;
}

.addUser{
    grid-column: 1/2;
}

.addMessage{
    grid-column: 3/-1;
}
.addMessage textarea{
    width: 100%;
}