
.comments{
    width: 700px;
    margin: 20px  auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.messages{
    grid-row:2;
}

.users{
    grid-row:2;
}

.users div{
    padding: 15px;
}

.comments a{
    text-decoration: none;
    color:black;
}
a.selected{
    color:pink;
    text-shadow: 1px 1px 10px pink;
}

