@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@600&display=swap');
html{
  width: 100%;
}
body{
  font-family: 'Shippori Mincho B1', serif;
  background: rgb(30, 185, 126);
  height: 100%;
  padding: 0;
  margin: 0;
}

#root{
    height: 100%;
    background:rgb(46, 45, 44);
    margin: 0;
    padding: 0;
}
main{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  color: white;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

.wrapped_main{
  background: white;
  display: grid;
  min-height: 100%;
  grid-template-rows: 50px 1fr auto;
  max-width: 100%;
}

.preload{
  border: 1px solid black;
  min-height: 100%;
  position: relative;
}

.preload img {
  display: block;
  width: 100px;
  position: absolute;
  top: 45%;
  left: 45%;
}