@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@600&display=swap');

body{
  font-family: 'Shippori Mincho B1', serif;
  background: rgb(204, 204, 102);
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

#root{
    width: 100%;
    height: 100%;
    background:rgb(46, 45, 44);
    margin: 0;
    padding: 0;
}


h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

.wrapped_main{
  background: white;
  display: grid;
  min-height: 100%;
  grid-template-rows: 50px 1fr auto;
}

.preload{
  border: 1px solid black;
  min-height: 100%;
  position: relative;
}

.preload img {
  display: block;
  width: 100px;
  position: absolute;
  top: 45%;
  left: 45%;
}