
.form_login{
    display: grid;
    grid-gap: 5px;
    text-align: center;
}

.login{
    min-height: 100%;
    background: silver;
    color: white;
}
.login span{
    color: red;
}

.inputColor{
    border: 1px solid red;
}

.login h1{
    text-align: center;
    padding-top: 200px;
}

.error{
    color: black;
    background: pink;
}