.myProfileWrap{
    margin: 0;
    padding: 0;
    color: white;
    border: 1px solid black;
}

.wrapper{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 100px;
    margin-top: 20px;
}

.buttonDiv{
    background: rgb(24, 98, 121);
    width: 27.5%;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    grid-column: 2;
}
.status{
    background: black;
    color: white;
    text-align: center;
    width: 50%;
    transition: all 1s ease;
}
.status:hover{
    background: rgb(31, 30, 30);
}
.info{
    grid-column: 2;
}
.error{
    color: red;
}

.inputError{
    border: 1px solid red;
}

.formError{
    border: 1px solid red;
}

.contentForm{
    width:500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.infoProfile{
}

.infoProfile div{
}